doctype html

title ODM Movie
meta(name="viewport" content="width=device-width,initial-scale=1")

h1 One Dimension Media -MOVIE-
#view
  h2 view (DOWN to UP)
  canvas#odmm
  canvas#analyze
//- #input
//-   h2 input

script(src="./app.js")
