body
  font-family: 'Courier New'
  display: flex
  flex-direction: column
  align-items: center

h1,
#view,
#input
  max-width: 1080px
  width: 100vw

h1
  font-size: 2rem
  font-weight: bold
  margin: 2rem 1rem 0
  text-align: center

h2
  font-size: 1.5rem
  font-weight: bold
  margin: 1rem 1rem 0

#view
  width: 100%
  height: 100%
  canvas#odmm
    margin-top: 1rem
    // margin-top: 1rem
  canvas#analyze
    margin-top: 80vw
    // display: none
